<div class="jumbotron">
    <p class="lead">Cálculo do IMC</p>
</div>
<div class="row">
    <form id="formEnviar" send-post="Post">
        <label for="basic-url">Informe seus dados</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Peso</span>
            </div>
            <input type="text" class="form-control" id="peso" aria-describedby="peso">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Altura</span>
            </div>
            <input type="text" class="form-control" id="altura" aria-describedby="altura">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Nome</span>
            </div>
            <input type="text" class="form-control" id="nome" aria-describedby="nome">
        </div>
        <p><a id="botaoEnviar" class="btn btn-primary btn-lg">Cálculo IMC</a></p>
    </form>
</div>
<script src="~/Scripts/indexScript.js"></script>